<div class="container p-4">
    <!-- 🔎 Search -->
    <div class="row">
      <div class="col-6">
        <div class="heading">
             Banners
        </div>
      </div>
      <div class="col-6 dflexmain">
        <button class="btn btn-sm"  (click)="deletebanner(1)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>      
        <input type="text" class="form-control searchinput" placeholder="Search Banner" [(ngModel)]="searchText" />
        <button class="btn-add" (click)="openAddForm()"> <img src="/images/icon/add-btn.svg" alt=""> Add Banner</button>
        
      </div>
    </div>
  
    <!-- 📊 banner Table --><div class="tableparent">
    <table class="table table-striped table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
         <th><label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                <span class="checkmark"></span>
              </label></th>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col">Image</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banner of filteredData()">
          <td>
            <label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="banner.isSelected"  (change)="isAllSelected()">
                <span class="checkmark"></span>
              </label>
          </td>
          <td>{{ banner.id }}</td>
          <td>{{ banner.name }}</td>    
          <td>{{ banner.description }}</td>   
          <td><img src="/images/banner.jpeg" alt=""></td> 
          <td>Active</td>                  
          <td>
            <button class="btn btn-sm me-2" (click)="editbanner(banner)">
              <img src="/images/icon/edit-2.svg" alt="">
            </button>
            <button class="btn btn-sm " (click)="deletebanner(banner)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalItems"  [pageSize]="10" [pageSizeOptions]="[10,25,100]" ></mat-paginator>
  
    </div>
  </div>
  