<div class="container p-4">
    <!-- 🔎 Search -->
    <div class="row">
      <div class="col-6">
        <div class="heading">
             UserApp - Users
        </div>
      </div>
      <div class="col-6 dflexmain">
        <!-- <button class="btn btn-sm" (click)="deleteSelected()">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>       -->     
        <input type="text" class="form-control searchinput" placeholder="Search User" [(ngModel)]="searchText" />
        <button class="btn-add" (click)="addForm()"> <img src="/images/icon/add-btn.svg" alt=""> Add User</button>
        
      </div>
    </div>
  
    <!-- 📊 user Table --><div class="tableparent">
    <table class="table table-striped table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
           <th><label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                <span class="checkmark"></span>
              </label></th>
          <th scope="col">User ID</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredData();let i = index">
          <td>
            <label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="user.isSelected"  (change)="isAllSelected()">
                <span class="checkmark"></span>
              </label>
          </td>
          <td>{{ user.userCode }}</td>
          <td>{{ user.firstname }}</td> 
          <td>{{ user.lastname }}</td> 
          <td>{{ user.email }}</td> 
          <td>{{ user.mobilenumber }}</td> 
          <td>{{ user.status | titlecase }}</td>
            
          <td>
            <button class="btn btn-sm me-2" (click)="editUser(user)">
              <img src="/images/icon/edit-2.svg" alt="">
            </button>
            <button class="btn btn-sm " (click)="deleteUser(user)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredData().length === 0">
          <td colspan="8" class="text-center">No records found</td>
        </tr>
      </tbody>
    </table>
    
     <mat-paginator [length]="totalItems"  [pageSize]="10" [pageSizeOptions]="[10,25,100]" (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
  
