<h2 class="popuph2" mat-dialog-title>

  {{ data?.size ? 'Edit Size' : 'Add Size' }}
</h2>

<form [formGroup]="dynamicForm" (ngSubmit)="save()" class="p-4 grid gap-1">

  <!-- Country Name -->
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter size" />
    <!-- <mat-error *ngIf="dynamicForm.get('name')?.hasError('required') && 
    (dynamicForm.get('name')?.touched || dynamicForm.get('name')?.dirty)">
      Size is required
    </mat-error> -->
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="true">Active</mat-option>
      <mat-option [value]="false">Inactive</mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="dynamicForm.get('status')?.hasError('required')">
      Status is required
    </mat-error> -->
  </mat-form-field>

  <!-- Actions -->
  <div class="flex justify-end gap-3 mt-2">
    <button mat-stroked-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" class="mat-primary-button" type="submit">
      Submit
    </button>
  </div>
</form>


