<div class="container p-4">
    <!-- 🔎 Search -->
    <div class="row">
      <div class="col-6">
        <div class="heading">
             Size
        </div>
      </div>
      <div class="col-6 dflexmain">
        <button class="btn btn-sm" (click)="deletesize(1)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>      
        <input type="text" class="form-control searchinput" placeholder="Search size" [(ngModel)]="searchText" />
        <button class="btn-add" (click)="openAddForm()"> <img src="/images/icon/add-btn.svg" alt=""> Add Size</button>
        
      </div>
    </div>
  
    <!-- 📊 size Table --><div class="tableparent">
    <table class="table table-striped table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
           <th><label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                <span class="checkmark"></span>
              </label></th>
          <th scope="col">ID</th>
          <th scope="col">Size</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let size of filteredData()">
          <td>
            <label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="size.isSelected"  (change)="isAllSelected()">
                <span class="checkmark"></span>
              </label>
          </td>
          <td>{{ size.id }}</td>
          <td>{{ size.name }}</td>    
          <td>Active</td>       
          <td>
            <button class="btn btn-sm me-2" (click)="editsize(size)">
              <img src="/images/icon/edit-2.svg" alt="">
            </button>
            <button class="btn btn-sm " (click)="deletesize(size)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalItems"  [pageSize]="10" [pageSizeOptions]="[10,25,100]" ></mat-paginator>
  
    </div>
  </div>
  