<h2 class="popuph2" mat-dialog-title>

  {{ data?.category ? 'Edit Category' : 'Add Category' }}

</h2>


<form [formGroup]="dynamicForm" (ngSubmit)="save()" class="p-4 grid gap-1">

  <!-- Country Name -->
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter Category" />
  </mat-form-field>

  <!-- Name in Arabic -->
  <mat-form-field appearance="outline">
    <mat-label>Name - Ar</mat-label>
    <input matInput formControlName="name_ar" placeholder="" />  
  </mat-form-field>
  <!-- Category Image -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Category Image</mat-label>

    <!-- ✅ Show existing preview -->
    <div *ngIf="previewUrls.cat_images" class="mb-2">
      <img [src]="previewUrls.cat_images" alt="Category Image" class="w-[50px] h-[50px] object-cover"/>
    </div>

    <input type="file" class="hidden" #catFileInput (change)="onFileSelected($event, 'cat_images')" />

    <input
      matInput
      placeholder="Choose file"
      [value]="selectedFileNames.cat_images || ''"
      readonly
      (click)="catFileInput.click()"
    />

    <button mat-icon-button matSuffix (click)="catFileInput.click()" type="button">
      <mat-icon>upload</mat-icon>
    </button>
  </mat-form-field>

  <!-- Category Image (Arabic) -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Category Image - Arabic</mat-label>

    <!-- ✅ Show existing preview -->
    <div *ngIf="previewUrls.cat_ar_images" class="mb-2">
      <img [src]="previewUrls.cat_ar_images" alt="Category Arabic Image" class="w-[50px] h-[50px] object-cover" />
    </div>

    <input type="file" class="hidden" #catArFileInput (change)="onFileSelected($event, 'cat_ar_images')" />

    <input
      matInput
      placeholder="Choose file"
      [value]="selectedFileNames.cat_ar_images || ''"
      readonly
      (click)="catArFileInput.click()"
    />

    <button mat-icon-button matSuffix (click)="catArFileInput.click()" type="button">
      <mat-icon>upload</mat-icon>
    </button>
  </mat-form-field>


  <!-- Status -->
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="true">Active</mat-option>
      <mat-option [value]="false">Inactive</mat-option>
    </mat-select>
  </mat-form-field>
  

  <!-- Actions -->
  <div class="flex justify-end gap-3 mt-2">
    <button mat-stroked-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" class="mat-primary-button" type="submit">
      Submit
    </button>
  </div>
</form>



