.container .row {
    font-size: 14px;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  img {
    border-radius: 4px;
  }
  
  .required-astreik{
    color:red;
  }
  .dflexmain {
    display: flex;
    gap: 10px;
    justify-content: right;
  }
  
  .btn-search {
    display: flex;
    height: 45px;
    background: #fafafa;
    color: #666;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    border-radius: 6px;
    border: 1px solid #eee;
  
    img {
      width: 15px;
    }
  
  
  }

  table{
    tr:nth-child(even) {
  background-color: #fafafa;
}
    tr{
      th{
        background: #fafafa;
         padding: .8rem;
      }
    }
    tr{
      td{      
        padding: .8rem;
      }
    }
  }
  
  
  .btn-add {
    display: flex;
    height: 45px;
    background: #802012;
    color: #fff;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    border-radius: 6px;
    border: 1px solid #eee;
  
    img {
      width: 15px;
    }
  }
  
  .btn-cancel {
    display: flex;
    height: 45px;
    color: #000;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    border-radius: 6px;
    border: 1px solid #000;
  
    img {
      width: 15px;
    }
  }
  
  .form-control {
    height: 45px;
    background: #fff;
    border: 1px solid #eee;
    padding: 1px 1rem;
    border-radius: 5px;
  
  }
  
  
  .heading {
    font-size: 1.3rem;
    font-weight: 800;
    color: #802012;
    margin-left: 5px;
  
  }
  
  // .row {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 1rem;
  // }
  
  .primarybtn {
    background: #802012 !important;
    color: #fff;
    width: 250px;
    height: 40px;
  }

  ::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:checked~.mdc-checkbox__background {
    background: #802012 !important;
}
 ::ng-deep .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    background: #802012 !important;
 }
 ::ng-deep  .mdc-checkbox {
    display: inline-block;
    position: relative;
    flex: 0;
    box-sizing: content-box;
    width: 0;
    width: 0;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom;
    padding: 0!important;
    margin: 0;
    margin: 0 0 0 0;
    position: relative;
    top: -10px!important;
    border-radius: 2px!important;
  }
  ::ng-deep .mdc-checkbox__checkmark {
    position: absolute;
    top: 2px!important;
    right: 1px!important;
    bottom: 0;
    left: 2px!important;
    width: 68%!important;
    opacity: 0;
    transition: opacity 180ms cubic-bezier(0.4, 0, 0.6, 1);
    color: var(--mdc-checkbox-selected-checkmark-color, var(--mat-sys-on-primary));
}