<div class="container p-4">
 
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
      <div class="col-6">
        <div class="heading pt-2">
            Add Privilege
        </div>
      </div>
      <div class="col-6 dflexmain">       
        <button class="btn-add" (click)="onSave()"> Save</button>      
        <button class="btn-cancel" (click)="onCancel()">  Cancel</button>
      </div>
    </div>
  
    <div class="row">&nbsp;</div>
    <!---Form Section-->
    <div class="bg-white p-2 border rounded ">
     
        <form [formGroup]="privilegeform" class="p-4 grid gap-4">

            <!-- Privilege Name -->
            <mat-form-field class="w-full">
              <mat-label>Privilege Name</mat-label>
              <input matInput formControlName="privilegename" placeholder="Enter privilege name">
              <!-- <mat-error *ngIf="f['privilegename'].hasError('required')">Privilege name is required</mat-error> -->
            </mat-form-field>
          
            <!-- Description -->
            <mat-form-field class="w-full">
              <mat-label>Description</mat-label>
              <textarea matInput rows="3" formControlName="description"></textarea>
              <mat-error *ngIf="f['description'].hasError('maxlength')">
                Maximum 250 characters allowed
              </mat-error>
            </mat-form-field>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
            <!-- Role Name -->
            <mat-form-field class="w-full">
              <mat-label>Role Name</mat-label>
              <mat-select formControlName="roleId">          
                <mat-option *ngFor="let role of roles" [value]="role._id">{{role.role}}</mat-option>
              </mat-select>
            </mat-form-field>
          
            
          
            <!-- Merchant Name -->
            <mat-form-field class="w-full">
              <mat-label>Derzi Users</mat-label>
              <mat-select formControlName="derziuserId" multiple>
                <mat-option *ngFor="let m of merchants" [value]="m._id">{{m.username}}</mat-option>                  
              </mat-select>
            </mat-form-field>
          </div>
          
          <div class="permissions-section mt-4">
            <h3 class="font-semibold mb-3 heading">Permissions</h3>
          
            <table class="table-auto border-collapse w-full text-center">
              <thead>
                <tr class="bg-gray-100">
                  <th class="border text-left px-3 py-2">Module / Submodule</th>
          
                  <!-- Column-level "select all" checkboxes -->
                  <th class="border px-3 py-2">
                    Add <br>
                    <mat-checkbox (change)="toggleColumn('add', $event)"></mat-checkbox>
                  </th>
                  <th class="border px-3 py-2">
                    Edit <br>
                    <mat-checkbox (change)="toggleColumn('edit', $event)"></mat-checkbox>
                  </th>
                  <th class="border px-3 py-2">
                    Delete <br>
                    <mat-checkbox (change)="toggleColumn('delete', $event)"></mat-checkbox>
                  </th>
                  <th class="border px-3 py-2">
                    View <br>
                    <mat-checkbox (change)="toggleColumn('view', $event)"></mat-checkbox>
                  </th>
                </tr>
              </thead>
          
              <tbody>
                <ng-container *ngFor="let parent of menus['root'] || []">
                  <!-- Parent Row -->
                  <tr class="bg-gray-50">
                    <td class="border text-left font-semibold px-3 py-2">{{ parent.menuname }}</td>
                  
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(parent.menuname, 'add', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(parent.menuname) + '_add')?.value">
                      </mat-checkbox>
                    </td>
                  
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(parent.menuname, 'edit', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(parent.menuname) + '_edit')?.value">
                      </mat-checkbox>
                    </td>
                  
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(parent.menuname, 'delete', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(parent.menuname) + '_delete')?.value">
                      </mat-checkbox>
                    </td>
                  
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(parent.menuname, 'view', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(parent.menuname) + '_view')?.value">
                      </mat-checkbox>
                    </td>
                  </tr>
          
                  <!-- Submenu Rows -->
                  <tr *ngFor="let child of menus[parent.menuname] || []">
                    <td class="border text-left px-6 py-2 text-gray-700">↳ {{ child.menuname }}</td>
          
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(child.menuname, 'add', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(child.menuname) + '_add')?.value">
                      </mat-checkbox>
                    </td>
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(child.menuname, 'edit', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(child.menuname) + '_edit')?.value">
                      </mat-checkbox>
                    </td>
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(child.menuname, 'delete', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(child.menuname) + '_delete')?.value">
                      </mat-checkbox>
                    </td>
                    <td class="border px-2 py-2">
                      <mat-checkbox
                        (change)="onPermissionChange(child.menuname, 'view', $event)"
                        [checked]="privilegeform.get('permissions.' + normalizeMenu(child.menuname) + '_view')?.value">
                      </mat-checkbox>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          
                 
          </form>
          
  
  
    </div>
  
  </div>

