<div class="container p-4">
 
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
      <div class="col-6">
        <div class="heading pt-2">
            Add Privilege
        </div>
      </div>
      <div class="col-6 dflexmain">       
        <button class="btn-add" (click)="onSave()"> Save</button>      
        <button class="btn-cancel" (click)="onCancel()">  Cancel</button>
      </div>
    </div>
  
    <div class="row">&nbsp;</div>
    <!---Form Section-->
    <div class="bg-white p-2 border rounded ">
     
        <form [formGroup]="privilegeform" (ngSubmit)="onSubmit()" class="p-4 grid gap-4">

            <!-- Privilege Name -->
            <mat-form-field class="w-full">
              <mat-label>Privilege Name</mat-label>
              <input matInput formControlName="privilegename" placeholder="Enter privilege name">
              <!-- <mat-error *ngIf="f['privilegename'].hasError('required')">Privilege name is required</mat-error> -->
            </mat-form-field>
          
            <!-- Description -->
            <mat-form-field class="w-full">
              <mat-label>Description</mat-label>
              <textarea matInput rows="3" formControlName="description"></textarea>
              <mat-error *ngIf="f['description'].hasError('maxlength')">
                Maximum 250 characters allowed
              </mat-error>
            </mat-form-field>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
            <!-- Role Name -->
            <mat-form-field class="w-full">
              <mat-label>Role Name</mat-label>
              <mat-select formControlName="rolename" multiple>          
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Group Name -->
            <mat-form-field class="w-full">
              <mat-label>Group Name</mat-label>
              <mat-select formControlName="groupname" multiple>              
                <mat-option *ngFor="let g of groups" [value]="g">{{g}}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <!-- Merchant Name -->
            <mat-form-field class="w-full">
              <mat-label>Derzi Users</mat-label>
              <mat-select formControlName="merchantname" multiple>
                <mat-option *ngFor="let m of merchants" [value]="m">{{m}}</mat-option>                  
              </mat-select>
            </mat-form-field>
          </div>
            <!-- Permissions -->
            <div class="">
                <h3 class="font-semibold mb-2 heading">Permissions</h3>
                
                <table class="table-auto border-collapse w-full text-center">
                  <thead>
                    <tr class="bg-gray-100">
                      <th class="border text-left">Module Name</th>
                      <th class="border">Add</th>
                      <th class="border">Edit</th>
                      <th class="border">Delete</th>
                      <th class="border">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let module of modules">
                      <td class="border text-left font-medium">{{ module.name }}</td>
                      <td class="border">
                        <mat-checkbox 
                          [checked]="module.actions.includes('Add')" 
                          (change)="onPermissionChange(module.name, 'Add', $event)">
                        </mat-checkbox>
                      </td>
                      <td class="border">
                        <mat-checkbox 
                          [checked]="module.actions.includes('Edit')" 
                          (change)="onPermissionChange(module.name, 'Edit', $event)">
                        </mat-checkbox>
                      </td>
                     <td class="border">
                        <mat-checkbox 
                          [checked]="module.actions.includes('Delete')" 
                          (change)="onPermissionChange(module.name, 'Delete', $event)">
                        </mat-checkbox>
                      </td>
                      <td class="border">
                        <mat-checkbox 
                          [checked]="module.actions.includes('View')" 
                          (change)="onPermissionChange(module.name, 'View', $event)">
                        </mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
          
         
          </form>
          
  
  
    </div>
  
  </div>

