<div class="container p-4">
 
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
      <div class="col-6">
        <div class="heading pt-2">
          <h2>{{ editMode ? 'Edit Page' : 'Add Page' }}</h2>
        </div>
      </div>
      <div class="col-6 dflexmain">       
        <button class="btn-add" (click)="onSubmit()"> Save</button>      
        <button class="btn-cancel" (click)="onCancel()">  Cancel</button>
      </div>
    </div>
  
    <div class="row">&nbsp;</div>
    <!---Form Section-->
    <div class="bg-white p-2 border rounded ">
      <form [formGroup]="pageForm" (ngSubmit)="onSubmit()" class="p-4 grid">
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
          <div class="w-full">
            <p> <label>Page name</label><span class="required-astreik">*</span></p>
            <mat-form-field class="w-full">
              <input matInput formControlName="page_name" class="w-full border rounded" placeholder="Enter Page name" />
              <!-- <mat-error *ngIf="f['name'].hasError('required')">
                Service name is required
              </mat-error> -->
              <mat-error *ngIf="f['page_name'].hasError('minlength')">
                Minimum 3 characters required
              </mat-error>
            </mat-form-field>
          </div>
  
          
        </div>
  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
          <div class="w-full">
            <p> <label>Page Title</label><span class="required-astreik">*</span></p>
            <mat-form-field class="w-full">
              <input matInput formControlName="title" class="w-full border rounded" placeholder="Enter title" />
              <!-- <mat-error *ngIf="f['name'].hasError('required')">
                Service name is required
              </mat-error> -->
              <mat-error *ngIf="f['title'].hasError('minlength')">
                Minimum 3 characters required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="w-full">
             <mat-label>Page Title - Arabic</mat-label> <span class="required-astreik">*</span>
            
            <mat-form-field class="w-full">
              <input matInput formControlName="title_ar" class="w-full border rounded"
                placeholder="Enter title in Arabic" />
              <!-- <mat-error *ngIf="f['name_ar'].hasError('required')">
                Service name in Arabic is required
              </mat-error> -->
              <mat-error *ngIf="f['title_ar'].hasError('minlength')">
                Minimum 3 characters required
              </mat-error>
            </mat-form-field>
          </div>
        </div>  
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
           <div class="w-full">
            <label>Content (English)</label><br>
            <quill-editor style="width: 580px;"
              formControlName="content"
              [modules]="quillConfig"
              [placeholder]="'Enter content in English...'">
            </quill-editor>
            <div *ngIf="f.content.touched && f.content.invalid" class="text-danger mt-1">
              <div *ngIf="f.content.errors?.required">Content is required.</div>
              <div *ngIf="f.content.errors?.maxlength">Maximum 1000 characters allowed.</div>
            </div>
          </div>        
      
          <div class="w-full">
            <label>Content (Arabic)</label> <br>
            <quill-editor style="width: 580px;"
              formControlName="content_ar"
              [modules]="quillConfig"
              [placeholder]="'Enter content in Arabic...'">
            </quill-editor>
            <div *ngIf="f.content_ar.touched && f.content_ar.invalid" class="text-danger mt-1">
              <div *ngIf="f.content_ar.errors?.required">Content in Arabic is required.</div>
              <div *ngIf="f.content_ar.errors?.maxlength">Maximum 1000 characters allowed.</div>
            </div>
          </div>

        </div>
                
      </form> 
  
    </div>
  
  </div>
