/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.theme-default .light .mat-mdc-unelevated-button.mat-primary, .theme-default.light .mat-mdc-unelevated-button.mat-primary{
    background: #802012;
}
.theme-default .dark, .theme-default.dark{
      background: #410e06!important;
}
.bg-theme-color{
     background: #802012;
}
input{
    font-family: inherit;
}
.loginfixed{
    position: fixed!important;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-position: 100%;
     background: #802012;
     padding: 0 0 5rem 0;
}
.dark{
    background: #802012;
}
.bg-gray-900{
    background: #802012;
}

.mlogoleft{
    position: absolute;
    z-index: 999;
    width: 500px;
    left: 0;
    right: 0;
    align-items: center;
    background: #fff;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 2rem 2rem;
    margin-top: 3rem;
    border-radius: 10px;
}
.mcenter{
    margin:0 auto;
}
.leftnavlogo{
    padding: 1.5rem;
}
body{
     background: #802012;
}