<h2 class="popuph2" mat-dialog-title>
  {{ data?.country ? 'Edit Country' : 'Add Country' }}
</h2>


<form [formGroup]="dynamicForm" (ngSubmit)="save()" class="p-4 grid gap-1">

  <!-- Country Name -->
  <mat-form-field appearance="outline">
    <mat-label>Country Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter country name" /> 
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country Flag</mat-label>
    <input matInput formControlName="flag" placeholder="Enter country flag" /> 
  </mat-form-field>

  <!-- Country Code -->
  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="code">
      <mat-option *ngFor="let currency of code" [value]="currency._id">{{ currency.name }}</mat-option>
    </mat-select> 
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="true">Active</mat-option>
      <mat-option [value]="false">Inactive</mat-option>
    </mat-select>
    <mat-error *ngIf="dynamicForm.get('status')?.hasError('required')">
      Status is required
    </mat-error>
  </mat-form-field>
  

  <!-- Actions -->
  <div class="flex justify-end gap-3 mt-2">
    <button mat-stroked-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" class="mat-primary-button" type="submit">
      Submit
    </button>
  </div>
</form>

