<div class="container p-4">
    <!-- 🔎 Search -->
    <div class="row">
      <div class="col-6">
        <div class="heading">
             Length
        </div>
      </div>
      <div class="col-6 dflexmain">
        <button class="btn btn-sm" (click)="deleteSelected()">
          <i class="bi bi-trash"></i>
           <img src="/images/icon/delete.svg" alt="">
        </button>    
        <input type="text" class="form-control searchinput" placeholder="Search Length" [(ngModel)]="searchText" />
        <button class="btn-add" (click)="openAddForm()"> <img src="/images/icon/add-btn.svg" alt=""> Add Length</button>
        
      </div>
    </div>
  
    <!-- 📊 length Table --><div class="tableparent">
    <table class="table table-striped table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
           <th><label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                <span class="checkmark"></span>
              </label></th>
          <th scope="col">ID</th>
          <th scope="col">Length</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let length of filteredData();let i = index">
          <td>
            <label class="customcheckbox">
                <input type="checkbox" [(ngModel)]="length.isSelected"  (change)="isAllSelected()">
                <span class="checkmark"></span>
              </label>
          </td>
          <td>{{ (pageIndex * pageSize) + i + 1 }}</td>
          <td>{{ length.name }}</td>   
          <td>{{ length.status ? 'Active' : 'Inactive' }}</td>            
          <td>
            <button class="btn btn-sm me-2" (click)="editlength(length)">
              <img src="/images/icon/edit-2.svg" alt="">
            </button>
            <button class="btn btn-sm " (click)="deletelength(length)">
              <i class="bi bi-trash"></i>
               <img src="/images/icon/delete.svg" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalItems"  [pageSize]="10" [pageSizeOptions]="[10,25,100]" (page)="onPageChange($event)"></mat-paginator>
  
    </div>
  </div>
  