<div class="container p-4">
 
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
    <div class="col-6">
      <div class="heading pt-2">
        <h2>{{ editMode ? 'Edit Services' : 'Add Services' }}</h2>
      </div>
    </div>
    <div class="col-6 dflexmain">       
      <button class="btn-add" (click)="saveService()"> Save</button>      
      <button class="btn-cancel" (click)="onCancel()">  Cancel</button>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <!---Form Section-->
  <div class="bg-white p-2 border rounded ">
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="p-4 grid">
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
        <div class="w-full">
          <p> <label>Service Name</label><span class="required-astreik">*</span></p>
          <mat-form-field class="w-full">
            <input matInput formControlName="name" class="w-full border rounded" placeholder="Enter service name" />
            <!-- <mat-error *ngIf="f['name'].hasError('required')">
              Service name is required
            </mat-error> -->
            <mat-error *ngIf="f['name'].hasError('minlength')">
              Minimum 3 characters required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
           <mat-label>Service Name</mat-label> <span class="required-astreik">*</span>
          
          <mat-form-field class="w-full">
            <input matInput formControlName="name_ar" class="w-full border rounded"
              placeholder="Enter service name in Arabic" />
            <!-- <mat-error *ngIf="f['name_ar'].hasError('required')">
              Service name in Arabic is required
            </mat-error> -->
            <mat-error *ngIf="f['name_ar'].hasError('minlength')">
              Minimum 3 characters required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Category -->
      <mat-form-field class="w-full">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" multiple>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="f['category'].hasError('required')">
          Category is required
        </mat-error> -->
      </mat-form-field>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <!-- Description -->
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" formControlName="description"></textarea>
        <!-- <mat-error *ngIf="f['description'].hasError('required')">
          Description is required
        </mat-error> -->
        <mat-error *ngIf="f['description'].hasError('maxlength')">
          Maximum 250 characters allowed
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Description - Arabic</mat-label>
        <textarea matInput rows="3" formControlName="description_ar"></textarea>
        <!-- <mat-error *ngIf="f['description_ar'].hasError('required')">
          Description - Arabic is required
        </mat-error> -->
        <mat-error *ngIf="f['description_ar'].hasError('maxlength')">
          Maximum 250 characters allowed
        </mat-error>
      </mat-form-field>

      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" placeholder="Enter price" />
            <!-- <mat-error *ngIf="f['price'].hasError('required')">
              Price is required
            </mat-error> -->
            <mat-error *ngIf="f['price'].hasError('min')">
              Price must be greater than 0
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Duration (in days)</mat-label>
            <input matInput type="number" formControlName="duration" placeholder="Enter duration" />
            <!-- <mat-error *ngIf="f['duration'].hasError('required')">
              Duration is required
            </mat-error> -->
            <mat-error *ngIf="f['duration'].hasError('min')">
              Duration must be at least 1
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Fabric Provided By -->
        <mat-form-field class="w-full">
          <mat-label>Fabric Provided By</mat-label>
          <mat-select formControlName="fabricProvidedBy" multiple>
            <mat-option *ngFor="let fabric of fabrics" [value]="fabric">{{ fabric }}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="f['fabricProvidedBy'].hasError('required')">
            Please select who provides fabric
          </mat-error> -->
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>

       </div>
     
    </form>



  </div>

</div>