.trash-componets {
    .qp {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .ap {
        font-size: 0.87rem;
        font-weight: 200;
    }

    .btn-danger {
        font-size: .87rem;
    }

    .btn-default-outline {
        font-size: .87rem;
    }
}